<div class="wrapper">
  <mat-list>
    <mat-list-item [ngClass]="projectsSectionActive ? 'section-active' : ''" (click)="onNavigateTo('projects')">
      <mat-icon>ballot</mat-icon><span>Projects</span>
    </mat-list-item>

    <mat-list-item [ngClass]="tasksSectionActive ? 'section-active' : ''" (click)="onNavigateTo('tasks')">
      <mat-icon>description</mat-icon><span>Tasks</span>
    </mat-list-item>

    <mat-list-item [ngClass]="usersSectionActive ? 'section-active' : ''" (click)="onNavigateTo('users')">
      <mat-icon>people</mat-icon><span>Users</span>
    </mat-list-item>

    <mat-list-item [ngClass]="statisticsSectionActive ? 'section-active' : ''" (click)="onNavigateTo('statistics')">
      <mat-icon>pie_chart</mat-icon><span>Statistics</span>
    </mat-list-item>
  </mat-list>
</div>