<mat-form-field appearance="outline">
  <input matInput type="text" [matAutocomplete]="auto" (keyup)="onKeyUp($event)" />
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="stringifyEmployee">
  <mat-option *ngIf="isLoading">
    <div>
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </mat-option>

  <mat-option *ngFor="let employee of filteredEmployees" [value]="employee" (click)="onSelectionChange(employee)">
    <span>{{ employee.firstName + ' ' + employee.lastName }}</span>
    <button mat-icon-button *ngIf="!singleSelection">
      <mat-icon>add</mat-icon>
    </button>
  </mat-option>
</mat-autocomplete>