<mat-form-field appearance="outline">
  <input #input matInput type="text" [matAutocomplete]="auto" [value]="initialValue ? stringifyUser(initialValue) : ''"
    (keyup)="onKeyUp($event)" />
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="stringifyUser">
  <mat-option *ngIf="isLoading">
    <div class="loader">
      <mat-spinner [diameter]="32"></mat-spinner>
    </div>
  </mat-option>

  <mat-option *ngFor="let user of filteredUsers" [value]="user" (click)="onSelectionChange(user)">
    <span>{{ user.firstName + ' ' + user.lastName }}</span>
    <button mat-icon-button *ngIf="!singleSelection">
      <mat-icon>add</mat-icon>
    </button>
  </mat-option>
</mat-autocomplete>