@import '../../../variables';

mat-toolbar {
  height: $app-header-height;
}

button {
  margin-right: $icon-margin;
}

h1 {
  width: 100%;
  padding-right: calc(#{$icon-width} + #{$icon-margin});

  text-align: center;
}
