@import '../../../variables';

mat-toolbar {
  height: $app-header-height;
  display: flex;

  &.login-app-bar {
    background-color: $bg-color-white !important;
    color: $text-black !important;
  }
}

button {
  margin-right: $icon-margin;
}

h1 {
  flex: 1 1;
}

.login-app-bar {
  h1 {
    padding-right: 0;
    text-align: center;
  }
}

app-profile-widget {
  flex: 1 1;
}
