@import '../../../variables';

mat-toolbar {
  height: $app-header-height;

  &.login-app-bar {
    background-color: $bg-color-white !important;
    color: $text-black !important;
  }
}

button {
  margin-right: $icon-margin;
}

h1 {
  width: 100%;
  padding-right: calc(#{$icon-width} + #{$icon-margin});

  text-align: center;
}

.login-app-bar {
  h1 {
    padding-right: 0;
  }
}
