@import '../../../variables';

.container {
  width: 100%;
}

h3 {
  margin-bottom: $spacing-small;
}

.search-wrapper {
  app-user-search-select {
    width: 100%;
  }
}

::ng-deep {
  mat-option {
    .mat-option-text {
      width: 100%;
      display: flex !important;
      
      span {
        flex: 1 1;
      }

      button {
        mat-icon {
          margin-right: 0 !important;
        }
      }
    }
  }
}

