.search-wrapper {
  display: flex;
  
  mat-form-field {
    margin: 4px;
  
    &:first-child {
      margin-left: 0;
    }
  
    &:last-child {
      margin-right: 0;
    }
  }

  .filters-wrapper {
    display: flex;
    
    mat-form-field {
      margin: 4px;
      
      &:last-child {
        margin-right: 0;
      }
    }
    
  }
}