<header>
  <h1>{{ pageTitle }}</h1>
  <button mat-stroked-button color="primary" *ngIf="canEdit()" (click)="openItemCreationDialog()">
    <mat-icon>add</mat-icon>
    <span>Dodaj zadanie</span>
  </button>
</header>

<app-filter-search-bar [debounceTimeout]="500" (queryChange)="onQueryChanged($event)"></app-filter-search-bar>

<app-tasks-table [dataSource]="dataSource" [isLoading]="isLoading" (itemDeleted)="onItemDeleted($event)">
</app-tasks-table>

<mat-paginator [length]="totalResults" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="onPaginationChange($event)">
</mat-paginator>