@import '../../../variables';

form {
  flex: 1 1;
}

.manager,
.date {
  width: 250px;
}

.item-details__tasks {
  flex: 1 1 100%;
}

.item-details__tasks__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $spacing-regular;

  h3 {
    margin-bottom: 0;
  }

  button {
    margin-left: $spacing-small;
  }
}

@media screen and (max-width: $small-mobile-breakpoint) {
  .manager,
  .date {
    width: 100%;
  }
}