<div class="container">
  <form [formGroup]="form" *ngIf="!isLoading && !error">
    <p class="item-details__top-navigation">
      <a class="link" [routerLink]="'/projects'">Projekty</a>&nbsp;/&nbsp;<a class="link"
        [routerLink]="'/projects/'+ itemId">{{ stringId }}</a>
    </p>

    <header class="item-details__header">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput #titleInput type="text" formControlName="title" />
        <mat-hint>{{ titleInput.value.length || 0}}/{{ titleMaxLength }}</mat-hint>
        <mat-error>{{ getErrorMessage('title') }}</mat-error>
      </mat-form-field>

      <div class="item-details__header__buttons">
        <button mat-stroked-button color="primary" *ngIf="!editMode" (click)="enableEditMode()">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>

        <button mat-stroked-button color="primary" *ngIf="editMode" [disabled]="!form.valid" (click)="onSaveChanges()">
          <mat-icon>save</mat-icon>
          <span>Save changes</span>
        </button>

        <button mat-stroked-button color="primary" *ngIf="editMode" (click)="onDiscardChanges()">
          <mat-icon>close</mat-icon>
          <span>Discard changes</span>
        </button>

        <button mat-stroked-button color="primary" *ngIf="!editMode">
          <mat-icon>pie_chart</mat-icon>
          <span>Show staistics</span>
        </button>

        <button mat-stroked-button color="warn" *ngIf="!editMode">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </div>
    </header>

    <!-- TODO: Replace temporarlity 'idManager' with 'manager' -->
    <div class="manager">
      <app-users-autocomplete [label]="'Manager'" [formControl]="managerFormControl" [onlyManagers]="true"
        [singleSelection]="true" [initialValue]="project.idManager" (selectionChange)="updateTempManager($event)">
      </app-users-autocomplete>
    </div>

    <mat-form-field appearance="outline" class="date">
      <mat-label>Duty date</mat-label>
      <input matInput [matDatepicker]="dutyDate" formControlName="dutyDate" readonly [min]="minDate">
      <mat-datepicker-toggle matSuffix [for]="dutyDate"></mat-datepicker-toggle>
      <mat-datepicker #dutyDate [disabled]="form.get('dutyDate').disabled"></mat-datepicker>
      <mat-error>{{ getErrorMessage('dutyDate') }}</mat-error>
    </mat-form-field>

    <div class="editable-input-wrapper description-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput #descriptionInput formControlName="description" cdkTextareaAutosize></textarea>
        <mat-hint>{{ descriptionInput.value.length || 0}}/{{ descriptionMaxLength }}</mat-hint>
        <mat-error>{{ getErrorMessage('description') }}</mat-error>
      </mat-form-field>
    </div>
  </form>

  <section [ngClass]="isLoading || error ? 'hidden' : ''">
    <h3>Tasks</h3>
    <div class="tasks-list-wrapper">
      <app-project-tasks [projectId]="stringId"></app-project-tasks>
    </div>
  </section>
</div>

<app-full-screen-loader *ngIf="isLoading && !error"></app-full-screen-loader>
<app-full-screen-error *ngIf="error && !isLoading" (reloadRequest)="reloadData()"></app-full-screen-error>