<h1 matDialogTitle>Logowanie hasłem</h1>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Login</mat-label>
      <input matInput type="text" formControlName="login">
      <mat-error>{{ getErrorMessage('login') }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Hasło</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error>{{ getErrorMessage('password') }}</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="!form.valid || isLogging" (click)="login()">
    <mat-spinner [diameter]="20" *ngIf="isLogging"></mat-spinner>
    <span>Zaloguj</span>
  </button>

  <button mat-button [disabled]="isLogging" (click)="closeDialog()">
    Anuluj
  </button>
</mat-dialog-actions>