@import '../../../variables';

video,
img {
  background-color: black;
  width: 400px;
  height: 300px;
}

mat-form-field {
  width: 100%;
}

.video-wrapper {
  position: relative;
}

.image-wrapper {
  position: relative;

  canvas {
    display: none;
  }

  img {
    width: 400px;
    height: 300px;
  }
}

.mat-fab {
  position: absolute;
  bottom: $spacing-medium;
}