
<h1 mat-header>Change password</h1>

<mat-dialog-content>
  <form class="password-change" [formGroup]="form">
    <mat-error *ngIf="!hasUserId">No ID passed</mat-error>

    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="!form.get('repeatPassword').valid">{{ getErrorMessage('password') }}</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Repeat passwrod</mat-label>
      <input matInput type="password" formControlName="repeatPassword" />
      <mat-error *ngIf="!form.get('repeatPassword').valid">{{ getErrorMessage('repeatPassword') }}
      </mat-error>
    </mat-form-field>
</form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="!form.valid || isLoading" (click)="changePassword()">
    <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
    <span>Change</span>
  </button>
  <button mat-button [disabled]="isLoading" (click)="discard()">Close</button>
</mat-dialog-actions>