<h1 mat-dialog-title>Create project</h1>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" cdkTextareaAutosize></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Manager</mat-label>
      <input matInput formControlName="manager" />
    </mat-form-field>

    <app-user-search-select [onlyManagers]="true" [singleSelection]="true" (selectionChange)="reassignManager($event)">
    </app-user-search-select>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="!form.valid || isLoading" (click)="onSave()">
    <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
    <span>Create</span>
  </button>
  <button mat-button [disabled]="isLoading" (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>