<header>
  <h1>{{ pageTitle }}</h1>
  <button mat-stroked-button color="primary" *ngIf="canEdit()" (click)="openItemCreationDialog() ">
    <mat-icon>add</mat-icon>
    <span>Stwórz projekt</span>
  </button>
</header>

<app-common-search-bar [debounceTimeout]="500" (queryChange)="onQueryChanged($event)"></app-common-search-bar>

<app-projects-table [dataSource]="dataSource" [isLoading]="isLoading" (itemDeleted)="onItemDeleted($event)">
</app-projects-table>

<mat-paginator [length]="totalResults" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  (page)="onPaginationChange($event)">
</mat-paginator>