.search-wrapper {
  display: flex;
  flex-wrap: wrap;
  
  & > mat-form-field {
    flex: 1 1;
    padding: 4px;
  
  }

  .filters-wrapper {
    flex: 1 1;
    display: flex;
    
    mat-form-field {
      min-width: 100px;
      flex: 1 1;
      padding: 4px;
    }    
  }
  
  ::ng-deep {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }
}

@media screen and (max-width: 467px) {
    .filters-wrapper {
      flex-wrap: wrap;
  }
}