
@import '../../../variables';

header {
  padding: $spacing-regular;
  position: sticky;
  top: 0;
  z-index: 100;  
  
  // margin-bottom: $h1-margin-bottom;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: $bg-color-white;

  h1 {
    margin-bottom: 0 !important;
  };

  button {
    margin-left: $header-button-margin;
  } 
}

main {
  width: 100%;
  padding: 0 $spacing-regular;
}

mat-form-field {
  width: 100%;
}
