@import '../../../variables';

.work-logger {
  height: 200px;
  padding: 0 $spacing-regular;
  
  border-top: 1px solid $bg-color-gray;
  border-bottom: 1px solid $bg-color-gray;
}

.container {
  position: relative !important;
  display: flex;
}

.details {
  width: 100%;
  margin-right: $workers-sidebar-width;
}

.workers-panel {
  position: fixed;
  right: $spacing-regular;
  height: 100%;

  width: $workers-sidebar-width;
  border-left: 1px solid $bg-color-gray;

  h3 {
    margin-bottom: $spacing-small;
  }

  .search-wrapper {
    padding: 0 $spacing-regular;

    app-user-search-select {
      width: 100%;
    }
  }

  mat-list-item {
    span {
      width: 100%;
    }
  }
}