<section class='main-details'>
  <form [formGroup]="form" *ngIf="!isLoading && !error">
    <header>
      <h1>{{ stringId }}
        <div class="editable-input-wrapper title-wrapper">
          <mat-form-field appearance="outline" [attr.readonly]="!isEditable('title')">
            <input matInput type="text" formControlName="title" [readonly]="!isEditable('title')" />
          </mat-form-field>

          <button mat-icon-button *ngIf="!isEditable('title')" (click)="enableEdition('title')">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="primary" *ngIf="isEditable('title')" (click)="onSaveField('title')">
            <mat-icon>save</mat-icon>
          </button>

          <button mat-icon-button color="warn" *ngIf="isEditable('title')" (click)="onDiscardFieldChange('title')">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </h1>

      <div class="header__button-wrapper">
        <button mat-stroked-button color="primary">
          <mat-icon>add</mat-icon>
          <span>Add task</span>
        </button>

        <button mat-stroked-button color="primary">
          <mat-icon>pie_chart</mat-icon>
          <span>Show staistics</span>
        </button>
      </div>
    </header>
    
    <section class="work-logger">
      WorkLogger
    </section>

    <section>
      <h3>Description</h3>
      <div class="editable-input-wrapper description-wrapper">
        <mat-form-field appearance="outline" [attr.readonly]="!isEditable('description')">
          <textarea matInput formControlName="description" [readonly]="!isEditable('description')"
            cdkTextareaAutosize></textarea>
        </mat-form-field>

        <button mat-icon-button *ngIf="!isEditable('description')" (click)="enableEdition('description')">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="primary" *ngIf="isEditable('description')" (click)="onSaveField('description')">
          <mat-icon>save</mat-icon>
        </button>

        <button mat-icon-button color="warn" *ngIf="isEditable('description')"
          (click)="onDiscardFieldChange('description')">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </section>
  </form>

  <section [ngClass]="isLoading || error ? 'hidden' : ''">
    <h3>History</h3>
    <div class="task-history-wrapper">
      Logs history
      <app-work-logs-list [taskId]="this.itemId"></app-work-logs-list>
    </div>
  </section>
</section>

<section class="workers-panel">
  <app-user-search-select [singleSelection]="false" [initialValue]=""></app-user-search-select>
</section>

<app-full-screen-loader *ngIf="isLoading"></app-full-screen-loader>
<app-full-screen-error *ngIf="error" (reloadRequest)="reloadData()"></app-full-screen-error>