<div class="container">

  <section class="details">
    <form [formGroup]="form" *ngIf="!isLoading && !error">
      <header>
        <h1>{{ stringId }}
            <mat-form-field appearance="outline">
              <input matInput type="text" formControlName="title" />
            </mat-form-field>
        </h1>


        <div class="header__button-wrapper">
          <button mat-stroked-button color="primary" *ngIf="!editMode" (click)="enableEditMode()">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
      
          <button mat-stroked-button color="primary" *ngIf="editMode" (click)="onSaveChanges()">
            <mat-icon>save</mat-icon>
            <span>Save changes</span>
          </button>
      
          <button mat-stroked-button color="primary" *ngIf="editMode" (click)="onDiscardChanges()">
            <mat-icon>close</mat-icon>
            <span>Discard changes</span>
          </button>
      
          <button mat-stroked-button color="primary" *ngIf="!editMode">
            <mat-icon>pie_chart</mat-icon>
            <span>Show staistics</span>
          </button>
      
          <button mat-stroked-button color="warn" *ngIf="!editMode">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </div>
      </header>

      <section class="work-logger">
        <app-work-logger></app-work-logger>
      </section>

      <section>
        <h3>Description</h3>
          <mat-form-field appearance="outline" >
            <textarea matInput formControlName="description"
              cdkTextareaAutosize></textarea>
          </mat-form-field>
      </section>
    </form>

    <section [ngClass]="isLoading || error ? 'hidden' : ''">
      <h3>History</h3>
      <div class="task-history-wrapper">
        <app-work-logs-list [taskId]="this.itemId"></app-work-logs-list>
      </div>
    </section>
  </section>

  <section class="workers-panel">
    <h3>Workers</h3>
    <div class="search-wrapper">
      <app-user-search-select [singleSelection]="false" (selectionChange)="addWorker($event)"></app-user-search-select>
    </div>
    <mat-list>
      <mat-list-item *ngIf="workersLoading">
        <div class="fx-center">
          <mat-spinner [diameter]="32"></mat-spinner>
        </div>
      </mat-list-item>

      <mat-list-item *ngFor="let worker of workers">
        <span>{{ stringifyUser(worker) }}</span>
        <button mat-icon-button (click)="removeWorker(worker._id)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item *ngIf="(!workers || !workers.length) && !workersLoading">
        <span>No workers.</span>
      </mat-list-item>
    </mat-list>
  </section>
</div>

<app-full-screen-loader *ngIf="isLoading"></app-full-screen-loader>
<app-full-screen-error *ngIf="error" (reloadRequest)="reloadData()"></app-full-screen-error>