<div class="container">
  <header class="item-details__header">
    <h1>Szczegóły zadania</h1>
    <div class="item-details__header__buttons">
      <button mat-stroked-button color="primary" *ngIf="!editMode" (click)="enableEditMode()">
        <mat-icon>edit</mat-icon>
        <span>Edytuj</span>
      </button>

      <button mat-stroked-button color="primary" *ngIf="editMode" (click)="onSaveChanges()">
        <mat-icon>save</mat-icon>
        <span>Zapisz zmiany</span>
      </button>

      <button mat-stroked-button color="primary" *ngIf="editMode" (click)="onDiscardChanges()">
        <mat-icon>close</mat-icon>
        <span>Odrzuć zmiany</span>
      </button>

      <button mat-stroked-button color="primary" *ngIf="!editMode">
        <mat-icon>pie_chart</mat-icon>
        <span>Pokaż statystyki</span>
      </button>

      <button mat-stroked-button color="warn" *ngIf="!editMode">
        <mat-icon>delete</mat-icon>
        <span>Usuń</span>
      </button>
    </div>

    <p class="item-details__header__navigation">
      <a class="link" [routerLink]="'/projects'">Projekty</a> /
      <a class="link" [routerLink]="'/projects/'+ initialItem.project._id">{{ initialItem.project.stringId
        }}</a> /
      <a class="link" [routerLink]="'/tasks/'+ itemId">{{ stringId }}</a>
    </p>
  </header>

  <section class="details">
    <form [formGroup]="form" *ngIf="!isLoading && !error">
      <mat-form-field appearance="outline">
        <mat-label>Tytuł</mat-label>
        <input matInput #titleInput type="text" formControlName="title" />
        <mat-hint>{{ titleInput.value.length || 0}}/{{ titleMaxLength }}</mat-hint>
        <mat-error>{{ getErrorMessage('title') }}</mat-error>
      </mat-form-field>

      <section class="work-logger">
        <app-work-logger></app-work-logger>
      </section>

      <mat-form-field appearance="outline" class="date">
        <mat-label>Termin zakończenia</mat-label>
        <input matInput [matDatepicker]="dutyDate" formControlName="dutyDate" readonly [min]="minDate" [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="dutyDate"></mat-datepicker-toggle>
        <mat-datepicker #dutyDate [disabled]="form.get('dutyDate').disabled"></mat-datepicker>
        <mat-error>{{ getErrorMessage('dutyDate') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Opis</mat-label>
        <textarea matInput #descriptionInput formControlName="description" cdkTextareaAutosize></textarea>
      </mat-form-field>
    </form>

    <section [ngClass]="isLoading || error ? 'hidden' : ''">
      <h3>Historia</h3>
      <div class="task-history-wrapper">
        <app-work-logs-list [taskId]="this.itemId"></app-work-logs-list>
      </div>
    </section>
  </section>

  <app-workers-panel [selectedWorkers]="[]" [selectedWorkersIds]="[]" (workersChange)="updateWorkers($event)">
  </app-workers-panel>
</div>

<app-full-screen-loader *ngIf="isLoading"></app-full-screen-loader>
<app-full-screen-error *ngIf="error" (reloadRequest)="reloadData()"></app-full-screen-error>