@import '../../../variables';

.container {
  display: flex;
  flex-wrap: wrap;
}

// To move to common stylesheet
.item-details{
  &__header {
    flex: 1 1 100%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    h1 {
      flex: 1 1;
      white-space: nowrap;
    }
  
    &__navigation {
      width: 100%;
    }
  }
}

.details {
  flex: 2 2;
  display: flex;
  flex-direction: column;
  margin-right: $spacing-regular;

  .work-logger {
    height: 200px;
    padding: 0 $spacing-regular;
    
    border-top: 1px solid $bg-color-gray;
    border-bottom: 1px solid $bg-color-gray;
  }
  
  .date {
    width: 250px;
  }
}

app-workers-panel {
  flex: 1 1;
  padding-left: $spacing-regular;
  border-left: 1px solid $bg-color-hover;
}

@media screen and (max-width: 768px) {
  .details {
    flex: 100%;
    margin-right: 0;
  }

  app-workers-panel {
    flex: 100%;
    padding-left: 0;
    border-left: none;
  }
}