<div class="item-details">
  <header class="item-details__header">
    <p class="item-details__header__navigation">
      <a class="link" [routerLink]="'/users'">Użytkownicy</a> /
      <a class="link" [routerLink]="'/users/'+ itemId">{{ login
        }}</a>
    </p>

    <h1>Szczegóły użytkownika</h1>
    <div class="item-details__header__buttons">
      <button mat-stroked-button color="primary" *ngIf="!editMode && canEdit()" (click)="enableEditMode()">
        <mat-icon>edit</mat-icon>
        <span>Edytuj</span>
      </button>

      <button mat-stroked-button color="primary" *ngIf="editMode && canEdit()" [disabled]="!form.valid"
        (click)="onSaveChanges()">
        <mat-icon>save</mat-icon>
        <span>Zapisz zmiany</span>
      </button>

      <button mat-stroked-button color="primary" *ngIf="editMode && canEdit()" (click)="onDiscardChanges()">
        <mat-icon>close</mat-icon>
        <span>Odrzuć zmiany</span>
      </button>

      <button mat-stroked-button color="primary" *ngIf="!editMode && canShowStats()">
        <mat-icon>pie_chart</mat-icon>
        <span>Pokaż statystyki</span>
      </button>

      <button mat-stroked-button color="warn" *ngIf="!editMode  && canDelete()" (click)="onDeleteItem()">
        <mat-icon>delete</mat-icon>
        <span>Usuń</span>
      </button>
    </div>
  </header>

  <div class="container">
    <form [formGroup]="form" *ngIf="!isLoading && !error" class="personal-details">
      <h2>Dane osobowe</h2>

      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" />
        <mat-error>{{ getErrorMessage('login') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Imię</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error>{{ getErrorMessage('firstName') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nazwisko</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error>{{ getErrorMessage('lastName') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Numer telefonu</mat-label>
        <input matInput formControlName="phoneNumber" />
        <mat-error>{{ getErrorMessage('phoneNumber') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error>{{ getErrorMessage('email') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Stanowisko</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of positionsList" [value]="role"> {{ getPositionString(role) }}
          </mat-option>
        </mat-select>
        <mat-error>{{ getErrorMessage('role') }}</mat-error>
      </mat-form-field>
    </form>

    <div *ngIf="!isLoading && !error" class="credentials-wrapper">
      <h2>Dane logowania</h2>

      <div class="button-wrapper">
        <button mat-raised-button color="primary" (click)="openPasswordChangeDialog()">Zmień hasło</button>
      </div>

      <div class="credentials__images">
        <figure class="credentials__images__image credentials__images__image--face">
          <img src="{{ faceImageUrl }}" />
        </figure>

        <div class="credentials__images__buttons credentials__images__buttons--face">
          <button mat-button color="primary" (click)="openImageCaptureDialog()">
            <mat-icon>add_a_photo</mat-icon>
            <span>Zrób zdjęcie</span>
          </button>
          <app-image-uploader (imageChanged)="setPreviewAndUpdateImage($event)"></app-image-uploader>
        </div>

        <figure class="credentials__images__image credentials__images__image--qr-code">
          <img src="{{ qrCodeUrl }}" />
        </figure>

        <div class="credentials__images__buttons credentials__images__buttons--qr-code">
          <button mat-button color="primary">
            <mat-icon>download</mat-icon>
            <a download="{{ login }}qrcode.jpg" href="{{ qrCodeUrl }}">Pobierz kod QR</a>
          </button>
        </div>
      </div>
    </div>
  </div>

  <app-full-screen-loader *ngIf="isLoading"></app-full-screen-loader>
  <app-full-screen-error *ngIf="error" (reloadRequest)="reloadData()"></app-full-screen-error>