@import '../../../variables';

.container {
  flex: 100%;
  display: flex;
  justify-content: center;
}

.personal-details {
  display: flex;
  flex: 2 2;
  flex-direction: column;

  .mat-select-value-text,
  .mat-input-element {
    color: $text-black;
  }

  ::ng-deep {
    .mat-form-field:not(.mat-form-field-disabled) {
      .mat-form-field-outline {
        color: $text-black !important;
      }
    }
    
    .mat-select-disabled .mat-select-value {
      color: $text-black;
    }
  }
}

.credentials-wrapper {
  padding-left: $spacing-regular;
  flex: 3 3;

  .button-wrapper {
    margin-bottom: $spacing-regular;
    width: 100%;
    
    button {
      width: 100%;
    }
  }
  .password-change {
    margin-bottom: $spacing-regular;
    
    mat-form-field {
      flex: 1 1;
      
      &:first-child {
        margin-right: $spacing-small;
      }

      &:last-child {
        margin-left: $spacing-small;
      }
    }

    button {
      width: 100%;
    }
  }

  .images {
    display: flex;
    justify-content: center;

    .image-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:first-child {
        margin-right: $spacing-small;
      }

      &:last-child {
        margin-left: $spacing-small;
      }

      figure {
        margin: 0;
        width: 100%;
        max-width: 100%;
        min-width: 100px;
        height: 200px;
        
        // border: 1px solid black;
        // background-color: rgba($color-primary, .2);

        img {
          display: block;
          width: auto;
          height: auto;
          margin: 0 auto;
          max-width: 100%;
          max-height: 100%;          
        }
      }

      button {
        margin-top: $spacing-small;
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .container {
    flex-direction: column;
  }

  .personal-details {
    max-width: 100%;

    mat-form-field {
      width: 100%
    }
  }

  .credentials-wrapper {
    max-width: 100%;
    padding-left: 0;

    .images {
      justify-content: space-evenly;
    }
  }

}