  @import '../../../variables';
  @import '../../../common';

.container {
  flex: 100%;
  display: flex;
  justify-content: center;
}

.personal-details {
  display: flex;
  flex: 2 2;
  flex-direction: column;

  .mat-select-value-text,
  .mat-input-element {
    color: $text-black;
  }

  ::ng-deep {
    .mat-form-field:not(.mat-form-field-disabled) {
      .mat-form-field-outline {
        color: $text-black !important;
      }
    }
  }
}

.credentials-wrapper {
  padding-left: $spacing-regular;
  flex: 3 3;

  .button-wrapper {
    margin-bottom: $spacing-regular;
    width: 100%;
    
    button {
      width: 100%;
    }
  }
  .password-change {
    margin-bottom: $spacing-regular;
    
    mat-form-field {
      flex: 1 1;
      
      &:first-child {
        margin-right: $spacing-small;
      }

      &:last-child {
        margin-left: $spacing-small;
      }
    }

    button {
      width: 100%;
    }
  }

  .credentials__images {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 50% 50%;
    margin-right: 0 -($spacing-small);

    // Figure
    &__image {
      flex: 1 1;
      margin: 0;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }

      &--face {
        grid-row: 1;
        grid-column: 1;
      }

      &--qr-code {
        grid-row: 1;
        grid-column: 2;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;

      &--face {
        grid-row: 2;
        grid-column: 1;
      }
      
      &--qr-code {
        grid-row: 2;
        grid-column: 2;
      }
    }

    button {
      margin-top: $spacing-small;
    }
  }
}

@media screen and (orientation: portrait) {
  .container {
    flex-direction: column;
  }

  .personal-details {
    max-width: 100%;

    mat-form-field {
      width: 100%
    }
  }

  .credentials-wrapper {
    max-width: 100%;
    padding-left: 0;

    .images {
      justify-content: space-evenly;
    }
  }
}

@media screen and (max-width: $small-mobile-breakpoint) {
  .credentials-wrapper {
    .credentials__images {
      grid-template-rows: repeat(4, auto);
      grid-template-columns: 1fr;

      // Figure
      &__image {
        &--face {
          grid-row: 1;
          grid-column: 1;
        }

        &--qr-code {
          grid-row: 3;
          grid-column: 1;
        }
      }

      &__buttons {
        &--face {
          grid-row: 2;
          grid-column: 1;
        }
        
        &--qr-code {
          grid-row: 4;
          grid-column: 1;
        }
      }
    }
  }
}