@import "../../../variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.timer {
  font-size: 3em;
  line-height: 1em;
  font-weight: light;
  font-weight: $bg-color-hover;
}

.controls {
  display: flex;
  justify-content: flex-end;
}