<div class="component-wrapper">
  <div class="container" *ngIf="!isLoading">
    <div class="timer">
      <span *ngIf="isWorking">
        7&nbsp;h 43&nbsp;min
      </span>
      <span *ngIf="isPaused">
        Przerwa
      </span>
      <span *ngIf="isClosed">
        Zadanie zamknięte
      </span>
      <span *ngIf="isNew">
        Zadanie nierozpoczęte
      </span>
    </div>

    <div class="controls" *ngIf="!isClosed">
      <button mat-button color="primary" *ngIf="isPaused" (click)="startWork()" [disabled]="isClosed">
        <mat-icon>play_arrow</mat-icon>
        <span>Rozpocznij prację</span>
      </button>
      <button mat-button color="primary" *ngIf="isWorking" (click)="startBreak()" [disabled]="isClosed">
        <mat-icon>pause</mat-icon>
        <span>Rozpocznij przerwę</span>
      </button>
      <button mat-button color="primary" *ngIf="isPaused" (click)="closeTask()" [disabled]="isClosed">
        <mat-icon>stop</mat-icon>
        <span>Zamknij zadanie</span>
      </button>
    </div>
  </div>
  <app-full-screen-loader *ngIf="isLoading"></app-full-screen-loader>
</div>