<h1 mat-dialog-title>Create task</h1>

<mat-dialog-content cdkScrollable>
  <form [formGroup]="form">
    <h3>Task details</h3>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error>{{ getErrorMessage('title') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option *ngFor="let priority of priorities" name="priority" [value]="priority">
          <span [attr.class]="'priority-label priority-label--' + priority">{{ getPriorityString(priority) | titlecase
            }}</span>
        </mat-option>
      </mat-select>
      <mat-error>{{ getErrorMessage('priority') }}</mat-error>
    </mat-form-field>

    <app-project-autocomplete [formControl]="projectFormControl" [initialValue]="initialProject" [label]="'Project'"
      [singleSelection]="true">
    </app-project-autocomplete>

    <mat-form-field appearance="outline">
      <mat-label>Duty date</mat-label>
      <input matInput [matDatepicker]="dutyDate" formControlName="dutyDate" readonly [min]="minDate">
      <mat-datepicker-toggle matSuffix [for]="dutyDate"></mat-datepicker-toggle>
      <mat-datepicker #dutyDate [disabled]="false"></mat-datepicker>
      <mat-error>{{ getErrorMessage('dutyDate') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" cdkTextareaAutosize></textarea>
      <mat-error>{{ getErrorMessage('description') }}</mat-error>
    </mat-form-field>
  </form>

  <app-workers-panel [selectedWorkers]="[]" [selectedWorkersIds]="[]"></app-workers-panel>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [disabled]="!form.valid || isLoading" (click)="onSave()">
    <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
    <span>Create</span>
  </button>
  <button mat-button [disabled]="isLoading" (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>