@import '../../../variables.scss';

.item-details__header {
  display: flex;
  align-items: center;

  &__title {
    flex: 1 1;
  }
  
  &__buttons {
    display: flex;
    flex-wrap: nowrap;

    margin: 0.25em;
    padding-bottom: 1.34375em;
    
    & > button {
      margin-left: $header-button-margin
    }
  }
}

mat-form-field {
  width: 100%;
}

section {
  margin-bottom: $spacing-regular;
}

.tasks-list-wrapper {
  padding: 0 $spacing-regular;
}

// Display disabled fields with normal text
.mat-input-element:disabled {
  color: $text-black !important;
}