@import '../../../variables.scss';

.item-details {
  display: flex;
  flex-wrap: wrap;

  &__header {
    flex: 1 1 100%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: $spacing-regular;
    
    h1 {
      flex: 1 1;
      white-space: nowrap;
      margin-bottom: 0;
    }
  
    &__navigation {
      width: 100%;
      font-size: 1.2em;
      margin-top: $spacing-small;
  
      a {
        color: $color-primary;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__buttons {
      display: flex;
      flex-wrap: nowrap;
      
      & > button:not(:first-child) {
        margin-left: $header-button-margin
      }
    }
  }
}

mat-form-field {
  width: 100%;
}

section {
  margin-bottom: $spacing-regular;
}

form {
  // Normal color border on enabled fields
  ::ng-deep {
    .mat-form-field:not(.mat-form-field-disabled):not(.mat-form-field-invalid) {
      .mat-form-field-outline {
        color: $text-black !important;
      }
    }
    
    .mat-select-disabled .mat-select-value {
      color: $text-black;
    }
  }
}

// Display disabled fields with normal color text
.mat-input-element:disabled {
  color: $text-black !important;
}