@import '../../../variables.scss';

.item-details {
  display: flex;
  flex-wrap: wrap;

  &__header {
    flex: 1 1 100%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: $spacing-regular;
  
    &__navigation {
      width: 100%;
      font-size: 1.2em;
      margin: $spacing-small auto $spacing-small auto;
  
      a {
        color: $color-primary;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }

    h1 {
      flex: 1 1;
      white-space: nowrap;
      margin-bottom: 0;
      margin: $spacing-small auto $spacing-small auto;
    }
  
    &__buttons {
      display: flex;
      flex-wrap: nowrap;
      margin-top: $spacing-small;
      margin-bottom: $spacing-small;

      & > button {
        .mat-button-wrapper {
          display: flex !important;
          align-items: center !important;
        }

        mat-icon {
          margin-right: $icon-margin;
        }
        
        &:not(:first-child) {
          margin-left: $header-button-margin;
        }
      }
    }
  }
}

// Button spinner
::ng-deep {
  .mat-stroked-button {  
    .mat-button-wrapper {  
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      
      mat-spinner {
        margin-right: $icon-margin;
      }
    }
  }  
}

mat-form-field {
  width: 100%;
}

section {
  margin-bottom: $spacing-regular;
}

form {
  // Normal color border on enabled fields
  ::ng-deep {
    .mat-form-field:not(.mat-form-field-disabled):not(.mat-form-field-invalid) {
      .mat-form-field-outline {
        color: $text-black !important;
      }
    }
    
    .mat-select-disabled .mat-select-value {
      color: $text-black;
    }
  }
}

// Display disabled fields with normal color text
.mat-input-element:disabled {
  color: $text-black !important;
}