<mat-card class="container">
  <section mat-class-header class="task__header">
    <h4 mat-card-subtitle class="task__header__string-id">{{ task.stringId }}</h4>
    <span class="task__status" [attr.class]="'status-label status-label--' + task.status">
      {{ statusString }}
    </span>
  </section>
  <mat-card-content>
    <h3 mat-card-title class="task__title">{{ task.title }}</h3>
    <span class="task__priority">Priorytet:
      <span [attr.class]="'priority-label priority-label--' + task.priority">
        {{ priorityString }}
      </span>
    </span>
    <span class="task__root-project">Projekt: {{ task.project.stringId }}</span>
    <span class="task__duty-date">Termin: {{ dutyDate }}</span>
  </mat-card-content>
</mat-card>