<mat-progress-bar *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-bar>

<table mat-table [dataSource]="dataSource">
  <ng-container *ngFor="let column of columnsDefinitions" matColumnDef="{{ column.defName }}">
    <th mat-header-cell *matHeaderCellDef>{{ column.displayName }}</th>
    <!-- TODO: Add better id to pass verification -->
    <td mat-cell *matCellDef="let item" (click)="navigateToDetailsWithData(item)">
      {{ column.formatter ? column.formatter(item[column.propertyName]) : item[column.propertyName] }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Akcje</th>
    <td mat-cell *matCellDef="let item">
      <button mat-icon-button *ngFor="let action of availableActions" [color]="action.color || 'primary'"
        (click)="action.action(item)">
        <mat-icon>{{ action.icon }}</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container *ngIf="!anyItemExists && !isLoading" matColumnDef="empty">
    <td mat-footer-cell *matFooterCellDef [attr.colspan]="columnsToDisplay.length + 1">Nie znaleziono elementów</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  <tr mat-footer-row *matFooterRowDef="anyItemExists || isLoading ? [] : ['empty']"></tr>
</table>