@import '../../../../variables';

.container {
  margin-bottom: $spacing-regular;
  cursor: pointer;
}

.user__content__email,
.user__content__phone-number {
  display: flex;
  align-items: center;
  width: 100%;

  mat-icon {
    margin-right: $icon-margin;
  }
}