<app-filter-search-bar [debounceTimeout]="500" (queryChange)="onQueryChanged($event)"></app-filter-search-bar>

<ng-container *ngIf="isMobile">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <app-task-card *ngFor="let task of dataSource.data.value" [task]="task" (click)="navigateToDetails(task)">
  </app-task-card>
</ng-container>

<app-project-tasks-table *ngIf="!isMobile" [dataSource]="dataSource" [isLoading]="isLoading"
  (itemDeleted)="onItemDeleted($event)"></app-project-tasks-table>