@import '../../../variables';

mat-form-field {
  box-sizing: border-box;
  width: 100%;
  flex: 1 1;
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mat-input-element:disabled {
  color: $text-black !important;
}