.hidden {
  max-height: 0px;
}

.fifty-fifty-wrapper {
  display: flex;
  align-items: center;
  margin: 0 -$spacing-small;
  flex-wrap: wrap;
  
  & > * {
    flex: 1 1;
    margin: 0 $spacing-small;
  }

  & > :first-child {
    margin-right: $spacing-small;
  }

  & > :last-child {
    margin-left: $spacing-small;
  }
}