@import './variables';
@import './common';
@import './flex';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  max-height: 0px;
}

// Status label
.status-label {
  padding: $status-label-padding;
  border-radius: $border-radius;

  &--big {
    width: 100%;
    font-size: 1.2em;
    padding: $spacing-small;
    margin: $spacing-small 0;
  }

  &--new {
    background-color: $color-green;
    color: $text-white;
  }

  &--in_progress {
    background-color: gold;
    color: black;
  }

  &--done {
    background-color: $color-bluegray;
    color: white;
  }
}

// Priority
.priority-label {
  &--low {
    color: $color-green;  }

  &--medium {
    color: $color-orange;
  }

  &--high {
    color: $color-red;
  }
}

button {
  &.mat-button {
    mat-icon {
      margin-right: $icon-margin;
    }
  }

  &.mat-fab,
  &.mat-icon-button {
    margin-right: 0;
  }
}

.mat-table {
  background-color: $bg-color-white;
}