@import './variables';
@import './common';
@import './flex';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

// Status label
.status-label {
  padding: $status-label-padding;
  border-radius: $border-radius;

  &--new {
    background-color: $color-green;
    color: black;
  }

  &--in_progress {
    background-color: gold;
    color: black;
  }

  &--done {
    background-color: $color-bluegray;
    color: white;
  }
}

// Priority
.priority-label {
  &--low {
    color: $color-green;  }

  &--medium {
    color: $color-orange;
  }

  &--high {
    color: $color-red;
  }
}

button:not(.mat-icon-button) {
  mat-icon {
    margin-right: $icon-margin;
  }
}

.mat-table {
  background-color: $bg-color-white;
}