/*
=============================
========  VARIABLES  ========
=============================
*/

/*==== SIZES ====*/
// Spacing
$spacing-tiny: 4px;
$spacing-small: 8px;
$spacing-regular: 16px;
$spacing-big: 32px;
$spacing-huge: 64px;

// Margins
$h1-margin-bottom: $spacing-regular;
$header-button-margin: $spacing-regular;
$icon-margin: $spacing-regular;

// Components
$sidenav-width: 200px;
$app-header-height: 64px;

$icon-width: 40px;